.loging{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(237, 240, 243);
}
.formLogin{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 350px;
    width: 350px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.loginh1{
    margin: 25px;
    font-weight: 400;
}
.loginlab{
    margin-left: -130px;
}
.Loginbtm{
    height: 30px;
    width: 80%;
    font-size: large;
    outline: none;
    margin-top: 30px;
}
.loginlab{
    position: relative;
    width: 110px;
}
.inputLogin{
    width: 80%;
    padding: 20px;
}
.Loginbtm{
    border: none;
    background-color: green;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.gotolink{
    margin-top: 100px;
    color: #1A73EB;
    font-weight: 600;
    letter-spacing: 1.5px;
}
.Loginbtm:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.loginSpan{
    color: #ff0101de;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.register{
    border: none;
   background: transparent;
   cursor: pointer;
   color: blue;
   font-size: medium;
}
.plogin{
    margin-top: 15px;
}
a{
    text-decoration: none;
}
@media screen and (max-width:750px) {
    .loginlab{
        margin-left: -170px;
    }
    .formLogin{
        width: 90%;
        height: 100%;
        border: 1px solid red;
        justify-content: center;
    }
    .loginh1{
        font-size: 35px;
        text-align: center;
    }
    .inputLogin,.Loginbtm{
        width: 80%;
    }
    .gotolink{
        margin-bottom:30px;
    }
}