.navbar{
    height: 50px;
    border-bottom:  0.5px solid rgb(231,288,228);
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #555;
}
.wrapper{
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
}
.items{
    display: flex;
    padding: 20px;
}
.item{
    display: flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}
.counter{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    margin-bottom: 25px;
    justify-content:center ;
    background-color: black;
    color: white;
    margin-left:-5px ;
    font-size: 12px;
}
.avater{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.serch{
    display: flex;
    align-items: center;
    border: 0.5px solid lightgrey;
    padding: 3px;
    cursor: pointer;
}
.input{
    border: none;
    /* outline none remove  the border outline when user click on the input feald
      */
    outline: none;
    background: transparent;
}
.searchLogo{
    color: green;
    margin-left: 5px;
    font-size: large;
}
@media screen and (max-width:750px) {
   .none{
    display: none;
   }
   .input{
    width: auto;
   }
}