.subject{
    border-bottom: .5px solid rgb(180, 174, 174);
    padding: 10px;
}
.emaile{
    border: none;
    outline: none;
    border-radius: 10px;
    
}
.showNew{
    background-color: #E9EBED;
    width: 100px;
    padding: 4px 12px;
    margin-left: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: 400;
    margin-bottom: 5px;
    font-size: medium;
    border: .5px solid rgb(196, 194, 194);
    cursor: pointer;
}
b{
    background: #FFB648;
    color: #703B15;
    padding: 2px;
    margin: 0px 2px 0px 0px;
    font-weight: 500;
    font-size: small;
    border-radius: 5px;
}
.createTicketSpace{
    height: 240px;
}
.ticketSubj{
    width: 90%;
    height: 30px;
    margin-left: 25px;
    border: .5px solid rgb(209, 203, 203);
    border-radius: 4px;
    font-size: large;
}
.ticketSubj:hover{
    border: none;
    outline: 2px solid #87CEEB;
    box-shadow: #87CEEB 0px 1px 3px;
}