.new{
    width: 100%;
    display: flex;
}
.newContaner{
    flex: 6;
}
h2{
    font-size: 20px;
}
.left{
    flex: 1;
    align-items: center;
    border: none;
}
.right{
    flex: 2;
}
.photo_logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: rgb(184, 209, 209);
}
.top1,.bottom{
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201,0.47);
    padding: 10px;
    margin: 20px;
    display: flex;
}
.formNew{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:20px;

}
.formInput{
    width: 40%;
}
.iconNew{
    cursor: pointer;
    font-size: 25px;
    color: rgb(11, 11, 66);
}
.inpNew{
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    font-size: medium;
}
.btnNew{
    color: white;
    background-color: rgb(57, 128, 57);
    border: none;
    letter-spacing: 2px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 25%;
    height: 30px;
    font-size: larger;
    cursor: pointer;
    margin: 20px;
}
@media screen and (max-width:750px) {
    .formInput{
        width: 100%;
    }
    .newContaner{
        flex: 3;
    }
    .btnNew{
        width: 100%;
    }
}